:root{
	--colour1: #3336FF;
	--colour2: #219EBC;
	--colour3: #023047;
	--colour4: #FFB703;
	--colour5: #fcdf03;
	background-color: var(--colour5);
	font-size: 150%;
}

p{
	font-family: Arial;
	margin-left: 20%;
}

h1, h2, h3, h4, h5, h6{
	font-family: Georgia;
	margin-left: 20%;
}
ul.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--colour1);
	margin-left: 0;
}

ul.navbar li{
	float: left;
}

ul.navbar li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: var(--colour1);
}

ul.navbar li a:hover{
	background-color: var(--colour2);
}
